*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: royalblue;
}
nav{
    height: 60px;
    background-color: rgb(1, 1, 10);
    color: #fff;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    color: #fff;
    list-style: none;
    margin-top: 19px;
    font-weight: bold;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 12px 12px;
    font-size: 20px;
}
nav ul li a:hover{
    border-radius: 13px;
    background-color: blue;
}
.container{
    width: 100%;
    height: 900px;
    /* background-color: red; */
    /* border: 2px solid red; */
}
.profile-box{
    height: 475px;
    width: 100%;
    /* border: 3px solid blue; */
}
.profile-box .img-box{
    display: block;
}
.profile-box .img-box img{
    border-radius: 600px;
    display: block;
    margin: 12px auto;
}
.profile-box .name-box h1{
    display: block;
    margin: 13px auto;
    width: 350px;
    font-weight: bold;
    font-family: cursive;
}
.profile-box .name-box h3{
    display: block;
    margin: 13px auto;
    width: 270px;
    font-weight: bold;
    font-family: cursive;
}
.detail-box{
    height: 400px;
    width: 100%;
    /* border: 3px solid rgb(9, 9, 29); */
    display: flex;
    flex-direction: row;
    background-color: #fff;
}
.detail-box .left-box,.right-box{
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 16px;
    height: 400px;

}
.same{
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 3px solid red; */
    height: 140px;
    padding: 12px;
    flex-direction: column;
}
.same .hindi{
    display: flex;
    flex-direction: row;
}
.same .hindi h3{
    margin: 0px 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head{
    display: block;
    width: 100%;
    margin: 6px 12px;
    font-family: monospace;
}
.detail-box .left-box .contact .mobile{
    margin: 3px 12px;
    /* font-weight: bold; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.btech{
    margin: 4px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.interest,.skills{
    display: flex;
    flex-direction: row;

}
.interest h3,.skills h3{
    margin: 0px 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    color: #fff;
    height: 40px;
    width: 100%;
}
footer h1{
    display: block;
    margin: 4px auto;
    width: 500px;
    font-family: monospace;
}